<head>
    <link rel="icon" href="./assets/logo.png" type="image/icon type">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="sweetalert2.all.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
</head>

<body style="background-image: url('assets/BAckground with Merlion-min3.png'); background-position: center top;
    background-size: 100% 100%;" > 
    <form id="form1"> 
       <div class='spinpop' id='spin' *ngIf="showspinner">
           <ion-spinner type='crescent' color='warning' ></ion-spinner>
       </div>
       <!--<h1 style='text-align: center; margin: 20% auto 10% auto'> Some words to descibe </h1>
       <div class='progress_bar'>
           <mat-horizontal-stepper #stepper labelPosition="bottom" >
               <mat-step label='Particulars' ></mat-step>
               <mat-step label='Feedback' ></mat-step>
               <mat-step label='Submit' ></mat-step>
           </mat-horizontal-stepper>
       </div> -->
       
        
        <div class="card active" style ='font-weight: bold'id="card1" [ngClass]="{'active': open}"> 
        <!--<h1 style='text-align: center; margin: 8vh auto 4vh auto; color: white'> Logo placeholder </h1>-->
        <img class='whiteout'src='assets/logo.png' style='text-align: center; margin: 0 auto 4vh auto;'>
        <p style='text-align: center; margin: 2vh auto 0 auto;font-size: 8vw; color:#2096BA '> <span style='color:white'>CLF</span> x <span style='color:white'>MPTC</span> 2022</p>
        <p style='text-align: center; margin: 0 auto ; font-size: 8vw; color:#2096BA  '> EXHIBITION </p>
        <p style='text-align: center;  margin: 0 auto 8vh auto;font-size: 8vw; color:#2096BA  '> FEEDBACK FORM </p>
            <button type='button' 
            style='border-radius: 6vw; height: 20%; width:50%; padding:3vw ;font-size: 6vw; font-weight: bold'
            id="next_btn" (click)="open = !open; open2=!open2; "> BEGIN </button> 
            <!--<button type='button'  (click)="testblink()"> Test </button>-->
        </div>  
        
       
        
        <div class="card" style='background-color: rgb(252, 252, 252); border-radius: 1vw;  border: 1px solid' id="card1" [ngClass]="{'active': open2}"> 
            
           <div class="group" style='margin: 4vw auto'> 
                <label style='font-size: 4vw'> Your Name </label>
                <input type="text" class='inputtext' name="name" id="name" placeholder="Name required" [(ngModel)]="Uname" [ngClass]="{'redb':!Uname}" > 
            </div> 
            <div class="group" style='margin: 4vw auto' > 
                <label style='font-size: 4vw'> Your Email </label>
                <input type="email" class='inputtext' name="email" id="email" placeholder="Email required" [(ngModel)]="Uemail" [ngClass]="{'redb':!Uemail}"> 
            </div> 
            <div class="group" style='margin: 4vw auto'> 
                <label style='font-size: 4vw'> Contact Number </label>
                <input type="text"  class='inputtext' name="number" id="number" placeholder="Number" value='' > 
            </div> 
            <div class="group" style='text-align:left; margin: 4vw 4vw 8vw 4vw' size="large"> 
                <mat-slide-toggle [checked]="agreecondition" (change)="agreecondition=!agreecondition">
                    <span style='font-size: 3vw; color: maroon'>I agree and consent to share my personal data with SIMTech, A*STAR</span>
                </mat-slide-toggle>
            </div> 
            <button type='button'   
            style='background-color: red;height: 20%; width:40%; padding:3vw ;font-size: 6vw; font-weight: bold; border-radius:1vw'
             (click)="open = !open; open2=!open2"> BACK </button> 
            <button type='button' [disabled]="!agreecondition || !Uname || !Uemail " 
            style='height: 20%; width:40%; padding:3vw ;font-size: 6vw; font-weight: bold; border-radius:1vw' 
            id="next_btn" (click)="open2 = !open2; open3=!open3"> NEXT </button> 
            
            <!--<button type='button'  (click)="testblink()"> Test </button>-->
        </div>
       
        
        
       <div class="card" id="card3" [ngClass]="{'active': open3}"> 
           <p style='text-align: center; margin: 0 auto 4vh auto ; font-size: 5vw; color:white  '> How useful is the exhibition? </p>
           <div id="rating" class="radio-toolbar" >
               <input type="radio" id='r5' name="rating" value=5 checked> 
               <label for ='r5'style='color:black; text-align: Left;font-size: 5vw; margin: 0vw 2vw 2vw 2vw; padding: 2vw'> 5 - Excellent</label>
               <input type="radio" id='r4' name="rating" value=4 > 
               <label for ='r4'style='color:black; text-align: Left;font-size: 5vw; margin: 2vw; padding: 2vw'> 4 - Very Good</label>
               <input type="radio" id='r3' name="rating" value=3 > 
               <label for ='r3'style='color:black; text-align: Left;font-size: 5vw; margin: 2vw; padding: 2vw'> 3 - Good</label>
               <input type="radio" id='r2' name="rating" value=2 > 
               <label for ='r2'style='color:black; text-align: Left;font-size: 5vw; margin: 2vw; padding: 2vw'> 2 - Fair</label>
               <input  type="radio" id='r1' name="rating" value=1 > 
               <label for ='r1'style='color:black; text-align: Left;font-size: 5vw; margin: 2vw; padding: 2vw'> 1 - Poor</label>
               
           </div>
           <button type='button'   
            style='background-color: red;height: 20%; width:40%; padding:3vw ;font-size: 6vw; font-weight: bold; border-radius:1vw'
             (click)="open2 = !open2; open3=!open3"> BACK </button> 
            <button type='button' style='height: 20%; margin:4vh 0 0 0; width:40%; padding:3vw ;font-size: 6vw; font-weight: bold; border-radius:1vw' 
            id="next_btn" (click)="printvalue();open4 = !open4; open3=!open3"> NEXT </button> 
           </div>
           
           <div class="card" style='margin: 4vh auto 4vh auto; '
           id="card4" [ngClass]="{'active': open4}" >
               <p style='text-align: center; margin: 1vh 0 0 0 ; font-size: 4vw; color:white'>
               Which areas of the exhibition would you like to explore further? We will be connecting you with specialist from that field via email</p>
                
               <ul >
                   <!--<div style='display: block; margin:0.5vh 0'><span class='checkbox_header'>Co-Create</span></div>
                   <li><input type='checkbox' name='interest' value=1 ><span class='checkbox'>Co-Create (CLF Award winning papers)</span></li>
                   <li><input type='checkbox' name='interest' value=2><span class='checkbox'>Co-Create (SIMTech's Research Highlights)</span></li>
                   
                   <div style='display: block; margin:0.5vh 0'><span class='checkbox_header'>Explore</span></div>
                   <li><input type='checkbox' name='interest' value=3><span class='checkbox'>Explore (Fong's Engineering and Manufacturing Pte Ltd)</span></li>
                   <li><input type='checkbox' name='interest' value=4><span class='checkbox'>Explore (Phillips Singapore)</span></li>-->
                   
                   <div class="checkbox-toolbar">
                   <div style='display: block; margin:0.5vh 0'><span class='checkbox_header'>Form</span></div>
                   <li><input id='c0' type='checkbox' name='interest' value=0>
                    <label for ='c0'style='color:white; '> <img src="assets/logo.png"/> <span>Automation Assessment and Adoption (AAA)</span></label>
                   </li>

                   <li><input id='c1' type='checkbox' name='interest' value=1>
                    <label for ='c1'style='color:white; '> <img src="assets/logo.png"/> <span>Digital Transformation and Innovation<sup>TM</sup> Program (DTI<sup>TM</sup>)</span> </label>
                    </li>

                    <li><input id='c15' type='checkbox' name='interest' value=15>
                        <label for ='c15'style='color:white; '> <img src="assets/logo.png"/> <span>Energy Efficiency Monitoring and Analysis System (E<sup>2</sup>MAS)</span> </label>
                    </li>

                    <li><input id='c16' type='checkbox' name='interest' value=16>
                        <label for ='c16'style='color:white; '> <img src="assets/logo.png"/> <span>Green Compass (GC)</span> </label>
                    </li>

                    <li><input id='c17' type='checkbox' name='interest' value=17>
                        <label for ='c17'style='color:white; '> <img src="assets/logo.png"/> <span>Life Cycle Assessment (LCA) & Life Cycle Costing (LCC)</span> </label>
                    </li>

                    <li><input id='c18' type='checkbox' name='interest' value=18>
                        <label for ='c18'style='color:white; '> <img src="assets/logo.png"/> <span>Operation & Technology Roadmap (OTR) Methodology</span> </label>
                    </li>

                    <li><input id='c19' type='checkbox' name='interest' value=19>
                        <label for ='c19'style='color:white; '> <img src="assets/logo.png"/> <span>Resource Efficiency Monitoring and Analysis Platform (REMAP)</span> </label>
                    </li>

                    <li><input id='c20' type='checkbox' name='interest' value=20>
                        <label for ='c20'style='color:white; '> <img src="assets/logo.png"/> <span>Smart Industry Readiness Index (SIRI) Framework</span> </label>
                    </li>

                    <li><input id='c21' type='checkbox' name='interest' value=21>
                        <label for ='c21'style='color:white; '> <img src="assets/logo.png"/> <span>Smart System <sup>TM</sup> Framework (SSF) </span> </label>
                    </li>
                   
                   <div style='display: block; margin:0.5vh 0'><span class='checkbox_header'>Implement</span></div>
                   <li><input id='c2' type='checkbox' name='interest' value=2>
                    <label for ='c2'style='color:white;'> <img src="assets/beckhoff.png"/> <span> Beckhoff Automation Pte Ltd</span> </label>
                    </li>

                    <li><input id='c3' type='checkbox' name='interest' value=3>
                        <label for ='c3'style='color:white; '> <img src="assets/innoark.png"/><span> InnoArk Pte Ltd</span> </label>
                    </li>

                    <li><input id='c4' type='checkbox' name='interest' value=4>
                    <label for ='c4'style='color:white; '> <img src="assets/blum.png"/> <span>Blum-Novotest GmbH</span></label>
                    </li>

                    <li><input id='c7' type='checkbox' name='interest' value=7>
                        <label for ='c7'style='color:white; '> <img src="assets/contec.png"/><span>Singapore Contec Pte Ltd </span> </label>
                    </li>

                    <li><input id='c5' type='checkbox' name='interest' value=5>
                        <label for ='c5'style='color:white; '> <img src="assets/hexagon.png"/><span>Hexagon</span></label>
                    </li>

                    <li><input id='c14' type='checkbox' name='interest' value=14>
                        <label for ='c14'style='color:white; '> <img src="assets/makino.png"/><span>Makino Milling Machine Co. Ltd.</span></label>
                    </li>

                    <li><input id='c6' type='checkbox' name='interest' value=6>
                        <label for ='c6'style='color:white; '> <img src="assets/Scheider.png"/><span>Schneider Electric Singapore Pte Ltd</span></label>
                    </li>

                    <li><input id='c8' type='checkbox' name='interest' value=8>
                        <label for ='c8'style='color:white; '> <img src="assets/diaedge.png"/> <span>DIAEDGE Mitsubishi Materials Corporation </span></label>
                    </li>
                    
                    <li><input id='c11' type='checkbox' name='interest' value=11>
                        <label for ='c11'style='color:white; '> <img src="assets/emugen.png"/><span>EMUGE-FRANKEN Singapore Pte. Ltd.</span></label>
                    </li>

                    <li><input id='c13' type='checkbox' name='interest' value=13>
                        <label for ='c13'style='color:white; '> <img src="assets/hurco.png"/><span>Hurco (S E Asia) Pte Ltd</span></label>
                    </li>

                    <li><input id='c9' type='checkbox' name='interest' value=9>
                        <label for ='c9'style='color:white; '> <img src="assets/openmind.png"/> <span>OPEN MIND Technologies Asia Pacific Pte Ltd </span></label>
                    </li>

                    <li><input id='c12' type='checkbox' name='interest' value=12>
                        <label for ='c12'style='color:white;'> <img src="assets/nato.png"/><span>SATO Asia Pacific Pte. Ltd.</span></label>
                    </li>

                    <li><input id='c10' type='checkbox' name='interest' value=10>
                        <label for ='c10'style='color:white; '> <img src="assets/walt.png"/><span>Walter AG Singapore Pte. Ltd</span> </label>
                    </li>

                
                   <!--<li><input type='checkbox' name='interest' value=2><span class='checkbox'>Implement (Beckhoff Automation Pte Ltd)</span></li>
                   <li><input type='checkbox' name='interest' value=3><span class='checkbox'>Implement (InnoArk Pte Ltd)</span></li>
                   <li><input type='checkbox' name='interest' value=4><span class='checkbox'>Implement (Blum-Novotest GmbH)</span></li>
                   <li><input type='checkbox' name='interest' value=5><span class='checkbox'>Implement (Hexagon)</span></li>
                   <li><input type='checkbox' name='interest' value=6><span class='checkbox'>Implement (Schneider Electric Singapore Pte Ltd)</span></li>
                   <li><input type='checkbox' name='interest' value=7><span class='checkbox'>Implement (Singapore Contec Pte Ltd)</span></li>
                   <li><input type='checkbox' name='interest' value=8><span class='checkbox'>Implement (MMC Hardmetal (Thailand) Co., Ltd.)</span></li>
                   <li><input type='checkbox' name='interest' value=9><span class='checkbox'>Implement (OPEN MIND Technologies Asia Pacific Pte Ltd)</span></li>
                   <li><input type='checkbox' name='interest' value=10><span class='checkbox'>Implement (Walter AG Singapore Pte. Ltd)</span></li>
                   <li><input type='checkbox' name='interest' value=11><span class='checkbox'>Implement (EMUGE-FRANKEN Singapore Pte. Ltd.)</span></li>
                   <li><input type='checkbox' name='interest' value=12><span class='checkbox'>Implement (SATO Asia Pacific Pte. Ltd.)</span></li>-->
                </div>
               </ul>
               
               <div style='text-align:justify; margin: 6vh 0 4vh 0; height: 
                auto;'> 
                <mat-slide-toggle size="large" [checked]="agreecondition2" (change)="agreecondition2=!agreecondition2">
                    <span style='font-size: 3vw; color: rgb(249, 233, 3); margin: 4vh 0 0 0; text-shadow: 2px 2px 0px #000000;'
                    >By submitting this form, you agree and consent to your personal data which you
                   provided being shared with the companies you have expressed your interest in</span>
                   </mat-slide-toggle>
               </div> 

               <button type='button'   
            style='background-color: red;height: 20%; width:40%; padding:3vw ;font-size: 6vw; font-weight: bold; border-radius:1vw'
             (click)="open3 = !open3; open4=!open4"> BACK </button> 
               <button type='button' [disabled]="!agreecondition2" style='height: 20%; margin:1vh 0 0 0; width:40%; padding:3vw ;font-size: 6vw; font-weight: bold; border-radius:1vw'
               id="next_btn" (click)="printvalue();open4 = !open4; open5=!open5"> NEXT </button> 
               
           </div>
           <div class="card" id="card5" [ngClass]="{'active': open5}"> 
               <p style='text-align: center; margin: 4vh auto ; font-size: 5vw; color:white  '>How can we improve?</p>
               <div class="group"> 
                   <textarea name="feedback" cols="45" rows="5" id="feedback"
                    placeholder="Feedback here"></textarea> 
               </div>
               <button id="submit" style='background-color:red;margin: 8vh 0' (click)="submitform(); "  >SUBMIT</button>
           
           </div>
    </form> 
   </body> 

