::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

::ng-deep .mat-slide-toggle-content {
    white-space: normal !important;
    line-height: 3.5vw;
  }

::ng-deep .mat-slide-toggle {
  height: fit-content;
}

::ng-deep .mat-checkbox-frame {
    border-color: white
  }

::ng-deep body.swal2-height-auto {
  height: 100vh !important;
}